body {
    margin: 0;
    background-color: #2e3537;
    font-family: 'Arial', sans-serif;
        min-height: 40px;
  }
  
  .container {
    display: flex;
    align-items: center;
    height: 10vh;
    overflow: hidden;
  }
  
  .scroll {
    white-space: nowrap;
    margin: 0 2em;
  }
  
  .scroll div {
    display: flex;
    gap: 2em;
  }
  
  .scroll p {
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 10px;
  }
  
  .RightToLeft {
    animation: RightToLeft 10s infinite linear;
  }
  
  @keyframes  RightToLeft {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  .LeftToRight {
    animation: LeftToRight 10s infinite linear;
  }
  
  @keyframes  LeftToRight {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
  }